nfe_processing_workflow.json
{
  "name": "Processamento de Notas Fiscais - NFe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nfe-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receber NFe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "nfe-processing-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "arquivo_nome",
              "value": "={{ $json.body.arquivo ? $json.body.arquivo.name : 'sem_arquivo' }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.body.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extrair Dados do Webhook",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.arquivo_nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Processar arquivo de nota fiscal\nconst email = $input.item.json.email;\nconst mensagem = $input.item.json.mensagem;\nconst arquivo = $input.item.json.arquivo_nome;\n\n// Simular processamento\nconst resultado = {\n  email: email,\n  mensagem: mensagem,\n  arquivo: arquivo,\n  status: 'processado',\n  timestamp: new Date().toISOString(),\n  dados_extraidos: {\n    total_notas: 100,\n    valor_total: 3371755.00,\n    valor_tributos: 1069338.20,\n    percentual_tributos: 31.72\n  }\n};\n\nreturn resultado;"
      },
      "id": "process-nfe",
      "name": "Processar NFe",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/upload/csv",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cabecalho",
              "value": "={{ $json.arquivo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-api",
      "name": "Chamar API de Validação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "functionCode": "// Gerar relatório executivo\nconst dados = $input.item.json;\n\nconst relatorio = {\n  titulo: 'Relatório Executivo de Notas Fiscais',\n  data_geracao: new Date().toISOString(),\n  resumo: {\n    total_notas: dados.dados_extraidos?.total_notas || 0,\n    valor_total: dados.dados_extraidos?.valor_total || 0,\n    valor_tributos: dados.dados_extraidos?.valor_tributos || 0,\n    percentual_tributos: dados.dados_extraidos?.percentual_tributos || 0\n  },\n  tributos: {\n    ICMS: dados.dados_extraidos?.valor_tributos * 0.3931 || 0,\n    PIS: dados.dados_extraidos?.valor_tributos * 0.1473 || 0,\n    COFINS: dados.dados_extraidos?.valor_tributos * 0.3467 || 0,\n    IPI: dados.dados_extraidos?.valor_tributos * 0.1129 || 0\n  },\n  insights: [\n    'O ICMS representa 39,31% da carga tributária total',\n    'A UF SP concentra a maior carga tributária',\n    'Carga tributária média de 31,72%'\n  ],\n  recomendacoes: [\n    'Considere estratégias de planejamento tributário focadas em ICMS',\n    'Avalie oportunidades de otimização fiscal',\n    'Implemente controles automatizados para monitoramento'\n  ]\n};\n\nreturn {\n  ...dados,\n  relatorio: relatorio\n};"
      },
      "id": "generate-report",
      "name": "Gerar Relatório Executivo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "functionCode": "// Formatar email com relatório\nconst dados = $input.item.json;\nconst relatorio = dados.relatorio;\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: #2c3e50; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; }\n    .section { margin: 20px 0; padding: 15px; background: #f4f4f4; border-radius: 5px; }\n    .metric { display: inline-block; margin: 10px; padding: 15px; background: white; border-radius: 5px; min-width: 200px; }\n    .metric-label { font-size: 12px; color: #666; }\n    .metric-value { font-size: 24px; font-weight: bold; color: #2c3e50; }\n    .tributo { padding: 10px; margin: 5px 0; background: white; border-left: 4px solid #3498db; }\n    .insight { padding: 10px; margin: 5px 0; background: #e8f5e9; border-left: 4px solid #4caf50; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>📊 Relatório de Análise Fiscal</h1>\n    <p>Processamento de Notas Fiscais Eletrônicas</p>\n  </div>\n  \n  <div class=\"content\">\n    <div class=\"section\">\n      <h2>Resumo Executivo</h2>\n      <div class=\"metric\">\n        <div class=\"metric-label\">Total de Notas</div>\n        <div class=\"metric-value\">${relatorio.resumo.total_notas}</div>\n      </div>\n      <div class=\"metric\">\n        <div class=\"metric-label\">Valor Total</div>\n        <div class=\"metric-value\">R$ ${relatorio.resumo.valor_total.toLocaleString('pt-BR', {minimumFractionDigits: 2})}</div>\n      </div>\n      <div class=\"metric\">\n        <div class=\"metric-label\">Total Tributos</div>\n        <div class=\"metric-value\">R$ ${relatorio.resumo.valor_tributos.toLocaleString('pt-BR', {minimumFractionDigits: 2})}</div>\n      </div>\n      <div class=\"metric\">\n        <div class=\"metric-label\">% Tributos</div>\n        <div class=\"metric-value\">${relatorio.resumo.percentual_tributos.toFixed(2)}%</div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <h2>Distribuição de Tributos</h2>\n      <div class=\"tributo\">\n        <strong>ICMS:</strong> R$ ${relatorio.tributos.ICMS.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\n      </div>\n      <div class=\"tributo\">\n        <strong>COFINS:</strong> R$ ${relatorio.tributos.COFINS.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\n      </div>\n      <div class=\"tributo\">\n        <strong>PIS:</strong> R$ ${relatorio.tributos.PIS.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\n      </div>\n      <div class=\"tributo\">\n        <strong>IPI:</strong> R$ ${relatorio.tributos.IPI.toLocaleString('pt-BR', {minimumFractionDigits: 2})}\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <h2>💡 Principais Insights</h2>\n      ${relatorio.insights.map(i => `<div class=\"insight\">✓ ${i}</div>`).join('')}\n    </div>\n    \n    <div class=\"section\">\n      <h2>📋 Recomendações</h2>\n      ${relatorio.recomendacoes.map((r, i) => `<div class=\"insight\">${i+1}. ${r}</div>`).join('')}\n    </div>\n  </div>\n  \n  <div class=\"footer\">\n    <p>Relatório gerado automaticamente em ${new Date(relatorio.data_geracao).toLocaleString('pt-BR')}</p>\n    <p>Sistema de Análise Fiscal com Agentes Inteligentes</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  email: dados.email,\n  assunto: 'Relatório de Análise Fiscal - NFe',\n  html: emailHtml,\n  dados: dados\n};"
      },
      "id": "format-email",
      "name": "Formatar Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@sistema-fiscal.com.br",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.assunto }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Relatório enviado com sucesso', email: $json.email }) }}",
        "options": {}
      },
      "id": "webhook-response-success",
      "name": "Resposta Webhook - Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Dados inválidos. Forneça email e arquivo.' }) }}",
        "options": {}
      },
      "id": "webhook-response-error",
      "name": "Resposta Webhook - Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook - Receber NFe": {
      "main": [
        [
          {
            "node": "Extrair Dados do Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados do Webhook": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Processar NFe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Webhook - Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar NFe": {
      "main": [
        [
          {
            "node": "Chamar API de Validação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar API de Validação": {
      "main": [
        [
          {
            "node": "Gerar Relatório Executivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Relatório Executivo": {
      "main": [
        [
          {
            "node": "Formatar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Email": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Resposta Webhook - Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}

